extends layout

block content
  h2.h3= settings.title
  p Welcome to #{settings.title}
  h1= "Json To CSV"
  p Convert Json to csv file
  div.container-fuild 
    form(onsubmit="convert(this); return false;")#form
      div.alert.alert-danger(role="alert" style="display:none")#error
      div.form-group
        textarea(
          placeholder='Paste your JSON text here',
          name="jsonText",
          rows="10"
        ).form-control
      div.form-group.text-center
        button.btn.btn-primary Convert
        button(type="button" onclick="clearForm()").btn.btn-warning Clear

  script(src="https://cdn.jsdelivr.net/npm/json2csv")
  script
    | function convert(form) { 
    |   const error = document.getElementById('error');
    |   error.style.display = "none";
    |   try{
    |      const jsonText = JSON.parse(form.jsonText.value);
    |      const csv = json2csv.parse(jsonText);
    |      var d = new Date();
    |      var a = document.createElement('a');
    |      var blob = new Blob([csv], {'type':'csv'});
    |      a.href = window.URL.createObjectURL(blob);
    |      a.download = d.toISOString() + ".csv";
    |      a.click();
    |   } catch(e) {
    |      const error = document.getElementById('error');
    |      error.innerHTML = e.message;
    |      error.style.display = "block";
    |      console.log(error.style);
    |   }
    | }
    | function clearForm() {
    |   const error = document.getElementById('error');
    |   error.style.display = "none";
    |   document.getElementById('form').jsonText.value= "";
    | }
