doctype html
html
  head
    //- Global site tag (gtag.js) - Google Analytics
    script(async src="https://www.googletagmanager.com/gtag/js?id=G-C1KTP1TMYJ")
    
    script
      |window.dataLayer = window.dataLayer || [];
      |function gtag(){dataLayer.push(arguments);}
      |gtag('js', new Date());
      |gtag('config', 'G-C1KTP1TMYJ');

    title= settings.title
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(
      rel='stylesheet',
      href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css',
      integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh', 
      crossorigin='anonymous'
    )
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h2.h3= settings.title
      p some tools to help you
    div
      block content
    footer.footer
      p 
        &copy 2020 developer by 
        a(href='https://raviassis.github.io/', target='_blank') Ravi Assis 

